@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,:root{
    scroll-behavior: smooth;
}

/* SMOOTH-SCROOL PROPERTY */
.scroll-smooth {
    scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR */
.scroll-custom::-webkit-scrollbar{
    width: 4px;
    height: 100%;
}

.scroll-custom::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background: #00000050;
    border-radius: 500px;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #FF2700;
}

.paragraph {
    margin-bottom: 0.5cm;
}
.paragraph > p::first-letter {
    margin-left: 1.2cm;
}

.scroll-mt {
    scroll-margin-top: 17vh;
}
